# Sora 接続用の設定
TEST_SIGNALING_URLS=wss://sora.example.com/signaling
# 複数の URL をカンマ区切りで指定できます
# TEST_SIGNALING_URLS=wss://sora1.example.com/signaling,wss://sora2.example.com/signaling
TEST_CHANNEL_ID_PREFIX=zakuro-test-
TEST_SECRET_KEY=secret_key
