# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

zakuro
core
.vscode
*.tar.gz
webrtc_logs_0
.DS_Store
*.swp

/_build
/_package
/build/macos/_source
/build/macos/_build
/build/macos/_install
/build/ubuntu-20.04_x86_64/_source
/build/ubuntu-20.04_x86_64/_build
/build/ubuntu-20.04_x86_64/_install
/build/ubuntu-20.04_x86_64/_cache