#ifndef ZAKURO_VERSION_GEN_H_
#define ZAKURO_VERSION_GEN_H_

#define ZAKURO_VERSION              "@ZAKURO_VERSION@"
#define ZAKURO_COMMIT_SHORT         "@ZAKURO_COMMIT_SHORT@"
#define WEBRTC_BUILD_VERSION        "@WEBRTC_BUILD_VERSION@"
#define WEBRTC_READABLE_VERSION     "@WEBRTC_READABLE_VERSION@"
#define WEBRTC_COMMIT_SHORT         "@WEBRTC_COMMIT_SHORT@"

#endif // ZAKURO_VERSION_GEN_H_
